services:
  mysql-db:
    image: mysql
    container_name: mysql-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: cs301
      MYSQL_PASSWORD: cs301
      MYSQL_DATABASE: client_db
    healthcheck:
      test: ["CMD", "mysql", "-u", "cs301", "-pcs301", "--execute", "SHOW DATABASES;"]
      interval: 3s
      retries: 5
      timeout: 5s
    restart: unless-stopped

  springboot:
    build:
      dockerfile: Dockerfile
    container_name: springboot
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: mysql-db
      DB_PORT: 3306
      DB_NAME: client_db
      DB_USER: root
      DB_PASSWORD: root
    depends_on:
      mysql-db:
        condition: service_healthy